@font-face {
  font-family: Cardo;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/cardo/cardo_n4.eebb245e383be6550785a657b25f51c2b83d7e78.woff2?h1=aGFpcmhvbGlzdGljLmNh&hmac=518d5477ef5e6d453c3cce8314967e62c7dcc15e9c5bd7ddb2bf66783730d31e") format("woff2"),
       url("https://fonts.shopifycdn.com/cardo/cardo_n4.5873ec3470fadfb2463a972a55c13c82fcea3051.woff?h1=aGFpcmhvbGlzdGljLmNh&hmac=09285b1f1ac42468215b833210fc728623378963ab5cf529326e9af0dc42f2ae") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=aGFpcmhvbGlzdGljLmNh&hmac=286d5e616d15b6c38f3a3281d0cf57a09d0294f1a2e63467ac797e71a46ef037") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=aGFpcmhvbGlzdGljLmNh&hmac=b1759e43486eb6fcbecdc873067660d9e93c1e318693d5669eb1864cfaf0c222") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=aGFpcmhvbGlzdGljLmNh&hmac=286d5e616d15b6c38f3a3281d0cf57a09d0294f1a2e63467ac797e71a46ef037") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=aGFpcmhvbGlzdGljLmNh&hmac=b1759e43486eb6fcbecdc873067660d9e93c1e318693d5669eb1864cfaf0c222") format("woff");
}



  @font-face {
  font-family: Cardo;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/cardo/cardo_n7.d02b7fb13fc5aac90b5334d99f92017ede2099f6.woff2?h1=aGFpcmhvbGlzdGljLmNh&hmac=42d906adfbc817023079c47556ba10181a5916f5bc3095d702e9a98017c157c4") format("woff2"),
       url("https://fonts.shopifycdn.com/cardo/cardo_n7.2bbbb0d9819b97cd025c56641e4eb6435f1c07d0.woff?h1=aGFpcmhvbGlzdGljLmNh&hmac=0ea08d974fbea28c162857149fb2932c854da98d287b61d0cfb6ef29d579d9ba") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=aGFpcmhvbGlzdGljLmNh&hmac=70c28732ec89b32ef906806daeab72e6766494e137f2c2db7811e8f28212e40a") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=aGFpcmhvbGlzdGljLmNh&hmac=bb6669f2b30bdcbb17c4a9f92a46469e526d3f4728d63b13c43a4fb80e8dc641") format("woff");
}







  @font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i4.f1583d9f457b68e44fbda187a48b4096d547d7f4.woff2?h1=aGFpcmhvbGlzdGljLmNh&hmac=4ae42599cb28dd3fde487827c33e1ac9eed3679fa8a5b54e8b193749c58692a5") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i4.67fb53a3e0351125941146246183577ae8d8bf23.woff?h1=aGFpcmhvbGlzdGljLmNh&hmac=84df5c1cd745563f1599b42b3a1d69c940925aeec07d68e3555e9d6aade396bb") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i5.2d1a6d537e5b485482d6bcca34a56cc10d441a55.woff2?h1=aGFpcmhvbGlzdGljLmNh&hmac=07ba8089ad2a7893e5bf03dc106bb813ca3b10b272025e225c13171ef56c4066") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i5.fcfa37c68ca483c41031623bfae4701d99bb4b95.woff?h1=aGFpcmhvbGlzdGljLmNh&hmac=32821a95608d58271a1942149afe6bc3f61ea03486f69d600155c52a0779f6ad") format("woff");
}

